<html ng-app="myApp">
    <body>
        <div class="container" ng-controller="zendeskCtrl" ng-init="tab=1">
            <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Zendesk
                            </li>
           </ol>
            
            
            
            <form>
                <label class="radio-inline" > <input type="radio" name="metricsRadio" ng-click="tab=1" checked="checked"> Metrics Snapshot </label> &nbsp;&nbsp;
                <label class="radio-inline" > <input type="radio" name="metricsRadio" ng-click="tab=2"> Metrics Ticket Types </label> &nbsp;&nbsp;
                <label class="radio-inline" > <input type="radio" name="metricsRadio" ng-click="tab=3"> ERP As Requester </label>
            </form>
            </br>
                        </br>
            <!--<div>
            <h5 style="float:left">Date &nbsp;&nbsp;</h5><input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker" />
            </div>-->
            </br>
            <!-- Metrics Snapshot-->
            <div ng-show="tab==1;">
                 
                 <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Team Name</th>
                                <th>New Tickets</th>
                                <th>Open Tickets</th>
                                <th>Pending Tickets</th>
                                <th>Tickets Closed in 120 days</th>
                                <th>Updated Time</th>
                            </tr>
                        <tr ng-repeat="x in metrics_snapshot | orderBy : 'name'">
                                <td>{{ x.teamName }}</td>
                                <td>{{ x.newTickets }}</td>
                                <td>{{ x.openTickets }}</td>
                                <td>{{ x.pendingTickets }}</td>
                                <td>{{ x.closedTickets }}</td>
                                <td>{{ x.updatedTime }}</td>
                        </tr>
                    </table> 
            </div>
            
            <!-- Metrics ticket types -->
            <div ng-show="tab==2;">
                     <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Team Name</th>
                                <th>New Tickets</th>
                                <th>Open Tickets</th>
                                <th>Pending Tickets</th>
                                <th>Tickets Closed in 120 days</th>
                                <th>Updated Time</th>
                            </tr>
                        <tr ng-repeat="x in metrics_ticket_types | orderBy : 'name'">
                                <td>{{ x.teamName }}</td>
                                <td>{{ x.newTickets }}</td>
                                <td>{{ x.openTickets }}</td>
                                <td>{{ x.pendingTickets }}</td>
                                <td>{{ x.closedTickets }}</td>
                                <td>{{ x.updatedTime }}</td>
                        </tr>
                    </table> 
            </div>
            <!-- Zendesk ERP as Requester -->
            <div ng-show="tab==3;">
                     <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Team Name</th>
                                <th>New Tickets</th>
                                <th>Open Tickets</th>
                                <th>Pending Tickets</th>
                                <th>Tickets Closed in 120 days</th>
                                <th>Updated Time</th>
                            </tr>
                        <tr ng-repeat="x in erp_as_requester | orderBy : 'name'">
                                <td>{{ x.teamName }}</td>
                                <td>{{ x.newTickets }}</td>
                                <td>{{ x.openTickets }}</td>
                                <td>{{ x.pendingTickets }}</td>
                                <td>{{ x.closedTickets }}</td>
                                <td>{{ x.updatedTime }}</td>
                        </tr>
                    </table> 
            </div>
        </div>
        
<style>

</style>
    </body>
</html>